/*Navbar and footer CSS*/
.navbar {
  background-color: mediumseagreen; }

.navbar-list,
.footer-list {
  list-style-type: none;
  font-family: Raleway;
  font-size: 18px;
  float: right;
  margin: 0px;
  padding: 20px; }

.footer-list {
  float: none;
  margin: 0 auto; }

.navbar-list li,
.footer-list li {
  display: inline;
  color: white; }

.navbar-list li a:hover {
  text-decoration: none;
  color: #fecc3a; }

.glyphicon {
  padding: 0 20px;
  margin: 0px;
  font-size: 22px;
  color: white; }

.degrees {
  font-family: Raleway;
  font-size: 18px;
  float: right;
  margin: 0px;
  padding: 20px;
  padding-right: 5px; }

button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: 0;
  background: transparent;
  font-size: 18px;
  display: inline-block;
  float: right;
  margin: 0px;
  padding: 20px;
  padding-right: 5px; }

.icon-footer {
  padding: 0 1.6666666%;
  width: 30%;
  text-align: center; }

.navbar-items-text {
  color: white; }

.navbar-logo {
  display: inline-block;
  position: relative;
  padding: 9px 0;
  margin-left: 20px;
  height: auto;
  width: 90px; }

/*Navbar Responsive*/
@media (max-width: 700px) {
  .navbar-list {
    display: none; } }

@media (min-width: 701px) {
  footer {
    display: none; } }
